---
layout: archive
---

<h1> About </h1>
<div style="text-align: justify">
  Research assistant and teacher assistant at <a href="https://itu.edu.pk" target="_blank"> Information Technology University (ITU), Lahore</a>. Research interests include Signals processing, machine learning and computer vision.
  After completing Electrical Engineering from <a href="https://www.uet.edu.pk/" target="_blank"> University of Engineering and Technology (UET), Lahore</a>, started working in textile industry and soon realized that there aren’t enough opportunities in industry 
  to gain knowledge and learn state of the arts skills in science and technology.
  <br />
  I get the position of research assistant in Signals and Image Processing at Information Technology University (ITU), Lahore due to my good knowledge/skills, interest and 
  excellent academic record. There I started studying signal processing and image processing and couldn’t find anything more attractive and interesting for me. After that I even rejected job offers from Pakistan Atomic Energy Commission (PAEC) the most desired job 
  in government sector and Pakistan Oil Refinery Limited (PRL) a well known company in oil sector.
  I explored different problems in signal processing and image processing and found that many interesting problems in signal processing and image processing which we cannot solve with conventional algorithms of signal processing can be solved by machine leaning, deep 
  learning and artificial intelligence.
  <br />
  Two research projects are in progress currently at ITU: 
  <ul> 
  <li> Causal structural learning and causal inference of bayesian networks </li>
  <li> Normalizing flows generative models for image reconstruction and distribution modeling of bayesian neetworks.</li>
  </ul> 
</div>

<br />
<br />
<b> Contact: </b>   <font color = "#ff7e00"> <b>junmaq34</b> </font>@<font color = "#ff7e00"> <b>gmail</b> </font>.<font color = "#ff7e00"> <b>com</b> </font>



<br />
<br />
<br />
<a href="/research/">Research</a>
<br />
<a href="/publications/">Publications</a>
<br />
<a href="/teaching/">Teaching</a>






