---
layout: archive
---

<h1> About </h1>
<div style="text-align: justify">
Currently, I am working as Research assistant and teacher assistant at <a href="https://itu.edu.pk" target="_blank">Information Technology University (ITU), Lahore</a>. My research interests include Signals processing, machine learning and computer vision.
  After completing Electrical Engineering from <a href="https://www.uet.edu.pk/" target="_blank"> University of Engineering and Technology (UET), Lahore</a>, started working in textile industry and soon realized that there aren’t enough opportunities in industry 
  to gain knowledge and learn state of the arts skills in science and technology. I was able to get the position of research assistant in Signals and Image Processing at Information Technology University (ITU), Lahore due to my good knowledge/skills, interest and 
  excellent academic record . There I started studying signal processing and image processing and couldn’t find anything more attractive and interesting for me. After that I even rejected job offers from Pakistan Atomic Energy Commission (PAEC) the most desired job 
  in government sector and Pakistan Oil Refinery Limited (PRL) a well known company in oil sector. 
  Two research projects are in progress currently at ITU: 
  
  <ul Causal structural learning and causal inference of bayesian networks type="disc">
  <li> Normalizing flows generative models for image reconstruction and distribution modeling of bayesian neetworks with normalizing flows.</li>
  </ul> 
   are in progress,   <a href="https://www.bayesserver.com/docs/introduction/bayesian-networks" target="_blank">Bayesian network</a> for root cause analysis (RCA) of faults in industrial plants. One of the challenges in using Bayesian network is the exponential growth of distribution parameters with the number of nodes in it. We are aiming to tackle this issue by efficiently learning distribution parameters of Bayesian network using recent advances in deep neural networks.
</div>

<br />
Previously, I was research assistant at <a href="https://lums.edu.pk" target="_blank">LUMS</a> from <b>Oct 2015</b> to <b>2018</b>. My research revolved around RF sensing applications using commodity-off-the-shelf WiFi radio (<a href='https://www.intel.com/content/www/us/en/products/docs/wireless-products/ultimate-n-wifi-link-5300-brief.html' target='_blank'>Intel 5300 WiFi Card</a>).


<br />
<br />
<b> Contact: </b>   <font color = "#ff7e00"> <b>asif</b> </font> DOT <font color = "#ff7e00"> <b>hanif</b> </font> AT <font color = "#ff7e00"> <b>outlook</b> </font> DOT <font color = "#ff7e00"> <b>com</b> </font>



<br />
<br />
<br />
<a href="/research/">Research</a>
<br />
<a href="/publications/">Publications</a>
<br />
<a href="/teaching/">Teaching</a>






